// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;

	// .select__body
	&__body {
		position: relative;

		.gazgolder__select-item:nth-child(1) & {
			min-width: 28.9rem;
		}

		.gazgolder__select-item:nth-child(2) & {
			min-width: 25.2rem;
		}
	}

	// .select__title
	&__title {
		display: flex;
		align-items: center;
		text-align: left;
		cursor: pointer;
		white-space: nowrap;

		&::after {
			content: '';
			width: 0;
			height: 0;
			border-left: .55rem solid transparent;
			border-right: .55rem solid transparent;
			border-top: 1.1rem solid $redSecondary;
			transition: transform 0.3s ease;

			._select-open & {
				transform: rotate(-180deg);
			}
		}
	}

	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: 30px;
		padding: 0 0.4rem 0 1.5rem;
		justify-content: space-between;
		flex-direction: row-reverse;

		@media (min-width: $md2) {
			padding: 0px 1.5rem;
		}

		&:before {
			content: "";
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;

			._select-open & {
				transform: rotate(-180deg);
			}
		}
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		position: absolute;
		top: 5rem;
		box-shadow: -.6rem 1.3rem 8.1rem 1.4rem rgba(19, 19, 19, 0.09);
		border-radius: 1rem;
		min-width: 100%;
		left: 0;
		background-color: $white;
		border-top: 0;
		border-top: 0;
		padding: 1rem 0px;
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;

		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		font-size: 1.9re;
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: .5rem 1.5rem;

		&._select-selected {
			background-color: rgba($color: $grayBackground, $alpha: 0.8);
		}

		@media (any-hover: hover) {
			&:hover {
				background: rgba($color: $grayBackground, $alpha: 0.8);
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {}

	&__text {}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}

	&._select-disabled {}

	&._select-active {}

	&._select-focus {}

	&._select-multiple {}

	&._select-checkbox {}
}

// Тег
._select-tag {
	cursor: pointer;
}