.about {
	margin-bottom: 16rem;

	@media (min-width: $md4) and (max-width: $md2) {
		margin-bottom: 19.5rem;
	}

	@media (min-width: $md2) {
		margin-bottom: 27rem;
	}

	// .about__container
	&__container {
		@media (max-width: $md2) {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}

	// .about__col--info
	&__col--info {
		@media (min-width: $md4) {
			@media (max-width: $md2) {
				padding-right: $containerPaddingMob;
				padding-left: $containerPaddingMob;
			}
		}

		@media (min-width: $md2) {
			padding-right: 8rem;
		}

		@media (max-width: $md2) {
			margin-bottom: 13.8rem;
		}

		@media (max-width: $md4) {
			padding-right: $containerPaddingMobSmall;
			padding-left: $containerPaddingMobSmall;
		}
	}

	// .about__title
	&__title {
		margin-bottom: 3.9rem;
	}

	// .about__subtitle
	&__subtitle {
		margin-bottom: 7rem;
		font-size: 3.6rem;
		line-height: math.div(43, 36);
		font-weight: 700;

		@media (min-width: $md2) {
			margin-bottom: 7.9rem;
		}
	}

	// .about__content
	&__content {
		display: grid;
		grid-template-columns: 12.7rem auto;
		gap: 4.2rem;
		padding-top: 7rem;
		position: relative;

		@media (min-width: $md2) {
			padding-top: 9.5rem;
		}

		&::before {
			content: '';
			display: block;
			width: 14.6rem;
			height: .4rem;
			background-color: $red;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .about__icon
	&__icon {
		width: 12.7rem;
		height: 12.7rem;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


	// .about__text
	&__text {
		margin-bottom: 3.9rem;
		font-size: 3.2rem;
		line-height: math.div(45, 32);

		@media (max-width: $md2) {
			br:nth-child(1) {
				display: none;
			}
		}

		@media (min-width: $md2) {
			margin-bottom: 4.6rem;
		}
	}

}

.slider-about {
	position: relative;
	overflow: hidden;

	@media (min-width: $md4) {
		@media (max-width: $md2) {
			padding-right: $containerPaddingMob;
			padding-left: $containerPaddingMob;
		}
	}

	@media (max-width: $md2) {
		@media (min-width: $md3) {
			padding-top: 8.3rem;
			padding-bottom: 1.5rem;
		}

		background-color: $grayBackground;
	}

	@media (max-width: $md3) {
		padding-top: 12.3rem;
		padding-bottom: 5.5rem;
	}

	@media (max-width: $md4) {
		padding-right: $containerPaddingMobSmall;
		padding-left: $containerPaddingMobSmall;
	}


	// .slider-about__btn-prev
	&__btn-prev,
	&__btn-next {
		display: block;
		width: 2.8rem;
		height: 5rem;
		position: absolute;
		top: 13.5rem;
		background: url('../img/icons/down-arrow.png') center no-repeat;
		background-size: contain;
		z-index: 2;

		@media (min-width: $md3) {
			@media (max-width: $md2) {
				top: 9rem;
			}
		}

		@media (min-width: $md2) {
			width: 2.5rem;
			height: 4.5rem;
			top: 1.4rem;
		}
	}

	&__btn-prev {
		left: 0;
		transform: rotate(-180deg);


		@media (max-width: $md2) {
			@media (min-width: $md4) {
				left: $containerPaddingMob;
			}
		}

		@media (max-width: $md4) {
			left: $containerPaddingMobSmall;
		}
	}

	// .slider-about__btn-next
	&__btn-next {
		right: 0;


		@media (max-width: $md2) {
			@media (min-width: $md4) {
				right: $containerPaddingMob;
			}
		}

		@media (max-width: $md4) {
			right: $containerPaddingMobSmall;
		}
	}

	// .slider-about__title
	&__title {
		display: flex;
		align-items: center;
		min-height: 7.6rem;
		padding: 0 11.3rem;
		margin-bottom: 7.4rem;
		font-size: 2.8rem;
		line-height: math.div(38, 28);
	}

	// .slider-about__card
	&__card {
		height: 100%;

		@media (min-width: $md2) {
			background-color: $grayBackground;
		}
	}

	// .slider-about__img
	&__img {
		width: 100%;
		max-width: 100%;
	}

	// .slider-about__text
	&__text {
		padding: 5rem 0;
		font-size: 2.8rem;
		line-height: math.div(38, 26);
		font-weight: 700;

		@media (min-width: $md3) {
			padding: 5rem 10rem 5rem 12rem;
		}

		@media (min-width: $md2) {
			padding: 4.4rem 9.7rem;
			font-size: 2.6rem;
		}
	}
}