.advantages {
	margin-bottom: 15.8rem;

	@media (min-width: $md4) and (max-width: $md2) {
		margin-bottom: 17.8rem;
	}

	@media (min-width: $md2) {
		margin-bottom: 25.3rem;
	}

	// .advantages__container
	&__container {
		@media (max-width: $md2) {
			padding-right: 0;
			padding-left: 0;
		}
	}

	// .advantages__col--engineer
	&__col--engineer {
		display: flex;
		justify-content: center;
		position: relative;

		@media (min-width: $md2) {
			padding-bottom: 6.4rem;
		}


		@media (max-width: $md2) {
			order: 2;
		}
	}

	// .advantages__img
	&__img {
		width: 100%;
		max-width: 100%;
		object-fit: contain;

		@media (min-width: $md2) {
			max-height: 70rem;
		}
	}

	// .advantages__info
	&__info {
		width: calc(100% - $containerPaddingMobSmall * 2);
		position: absolute;
		left: $containerPaddingMobSmall;
		z-index: 1;
		background-color: $white;

		@media (min-width: $md4)and (max-width: $md2) {
			width: calc(100% - $containerPaddingMob * 2);
			left: $containerPaddingMob;
		}

		@media (min-width: $md3) {
			@media (max-width: $md2) {
				padding: 5.1rem 6.7rem 5.7rem;
				bottom: 3rem;
			}
		}

		@media (min-width: $md2) {
			width: 100%;
			padding: 7.5rem 10.8rem 0;
			bottom: 0;
			left: 0;
		}

		@media (max-width: $md3) {
			padding: 4.1rem 3.7rem 4.7rem;
			bottom: 1rem;
		}

		@media (max-width: $md4) {
			padding: 3.1rem 3.7rem 3.7rem;
		}
	}

	// .advantages__position
	&__position {
		font-size: 2.2rem;
		margin-bottom: 0.9rem;
	}

	// .advantages__name
	&__name {
		margin-bottom: 2.5rem;
		font-size: 3.3rem;
		font-weight: 700;
	}

	// .advantages__btn
	&__btn {
		@media (max-width: $md2) {
			font-size: 2.1rem;
		}
	}

	// .advantages__col--content
	&__col--content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0px $containerPaddingMobSmall;

		@media (min-width: $md4) {
			padding: 0px $containerPaddingMob;
		}

		@media (min-width: $md2) {
			padding: 8rem 0 0 11.8rem;
		}

		@media (max-width: $md2) {
			margin-bottom: 13rem;
		}

	}

	// .advantages__title
	&__title {
		margin-bottom: 8rem;
		font-size: 5.4rem;
		font-weight: 700;
		line-height: 1.1;

		@media (min-width: $md2) {
			font-size: 4.8rem;
		}
	}

	// .advantages__items
	&__items {
		display: flex;
		flex-wrap: wrap;
	}

	// .advantages__icon
	&__icon {
		margin-bottom: 2.8rem;
		max-height: 7.1rem;

		@media (min-width: $md2) {
			max-height: 5.1rem;
		}

		img {
			object-fit: contain;
		}
	}

	// .advantages__item
	&__item {
		padding: 7.6rem 3rem 4.4rem;

		@media (min-width: $md5) {
			flex: 0 0 50%;
			width: 50%;
		}

		@media (min-width: $md2) {
			padding: 6rem 2.4rem 3.5rem;
		}

		@media (max-width: $md5) {
			flex: 0 0 100%;
			width: 100%;
			padding-right: 3.7rem;
			padding-left: 3.7rem;

			&:first-child {
				box-shadow: -.6rem 1.3rem 8.1rem 1.4rem rgba(19, 19, 19, 0.09);
			}
		}

		&:nth-child(1) {
			@media (max-width: $md2) {
				.advantages__icon img {
					height: 7.1rem;
				}
			}
		}

		&:nth-child(2) {
			background-color: #3d3d3d;
			color: $white;

			@media (max-width: $md2) {
				.advantages__icon img {
					height: 6rem;
				}
			}
		}

		&:nth-child(3) {
			background-color: $red;
			color: $white;

			@media (max-width: $md2) {
				.advantages__icon img {
					height: 6rem;
				}
			}
		}

		&:nth-child(4) {
			background: url('../img/advantages/bgr_item.jpg') 0 0 no-repeat;
			background-size: cover;

			@media (max-width: $md2) {
				.advantages__icon img {
					height: 5.7rem;
				}
			}
		}
	}

	// .advantages__text
	&__text {
		font-size: 2.7rem;
		line-height: math.div(29, 21);

		@media (min-width: $md2) {
			font-size: 2.1rem;
		}
	}
}