.analysis {
	margin-bottom: 14.9rem;

	@media (min-width: $md4) {
		@media (max-width: $md2) {
			margin-bottom: 17.9rem;
		}
	}

	@media (min-width: $md2) {
		margin-bottom: 18.7rem;
	}

	&--desc {
		@media (max-width: $md2) {
			display: none;
		}
	}

	// .analysis__container
	&__container {
		@media (max-width: $md2) {
			padding-left: 0;
			padding-right: 0;
		}

		.col {
			@media (min-width: $md4) {
				@media (max-width: $md2) {
					padding-left: $containerPaddingMob;
					padding-right: $containerPaddingMob;
				}
			}

			@media (max-width: $md4) {
				padding-left: $containerPaddingMobSmall;
				padding-right: $containerPaddingMobSmall;
			}
		}
	}

	// .analysis__col--left
	&__col--left {


		@media (min-width: $md2) {
			padding-top: 5.1rem;
			padding-right: 10.5rem;
			border-right: 1px solid #e0e3e9;
		}

		@media (min-width: $md2)and(max-width: $md1) {
			padding-right: 10.7rem;
		}

		@media (max-width: $md2) {
			margin-bottom: 6rem;
		}
	}

	// .analysis__title
	&__title {
		margin: 0 0 4.4rem;
	}

	// .analysis__subtitle
	&__subtitle {
		margin: 0 0 2.8rem;
		font-size: 3.2rem;
		line-height: 6.6rem;
		font-weight: 300;

		@media (min-width: $md2) {
			margin: 0 0 5.1rem;
		}
	}

	// .analysis__items
	&__items {
		@media (min-width: $md2) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 3rem;
		}


		@media (max-width: $md2) {
			justify-content: space-between;
		}
	}

	// .analysis__item
	&__item {
		@media (min-width: $md2) {
			max-width: 17rem;
		}

		@media (max-width: $md2) {
			display: flex;
			align-items: center;
			margin-bottom: 2.4rem;
		}
	}

	// .analysis__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5.8rem;
		height: 5.8rem;
		margin-bottom: 1rem;

		@media (max-width: $md2) {
			margin-right: 3.8rem;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	// .analysis__text
	&__text {
		font-size: 2rem;
		line-height: math.div(29, 20);
		font-weight: 400;
	}

	// .analysis__col--form
	&__col--form {
		padding-top: 6.1rem;

		@media (min-width: $md2) {
			padding-left: 9.8rem;
		}
	}

	&--last {
		.analysis__col--form {
			@media (max-width: $md2) {
				background-color: $grayBackground;

				@media (min-width: $md4) {
					padding-top: 12.7rem;
					padding-bottom: 14.2rem;
				}
			}

			@media (max-width: $md4) {
				padding-top: 10.7rem;
				padding-bottom: 11.2rem;
			}
		}

	}
}

.form-block {
	@media (min-width: $md2) {
		max-width: 52rem;
	}

	&__title {
		margin: 0 0 6.2rem;
		font-size: 3.2rem;
		line-height: 1.1;
		font-weight: 700;

		@media (min-width: $md2) {
			margin: 0 0 4.2rem;
		}

		@media (max-width: $md2) {
			br {
				display: none;
			}
		}

	}

	// .form__nav
	&__nav {
		display: flex;
		padding: 0;
		margin: 0 0 3.8rem;
	}

	&__nav-link {
		display: flex;
		justify-content: center;
		height: 5.1rem;
		margin-right: 1.7rem;
		padding: 0px 1.8rem;
		line-height: 5rem;
		border-radius: 2.3rem;
		list-style: none;
		font-weight: 300;
		cursor: pointer;
		align-self: auto;
		color: #999999;
		white-space: nowrap;

		&:last-child {
			margin-right: 0;
		}

		&._tab-active {
			box-shadow: 0 0 0 1px $red;
			cursor: default;
			color: $mainColor;
		}

	}
}