.safety {
	@media (max-width: $md4) {
		margin-bottom: 13.5rem;
	}

	@media (min-width: $md4) {
		margin-bottom: 16.5rem;

	}

	// .safety__container
	&__container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	// .safety__title
	&__title {
		margin-bottom: 8.7rem;

		@media (min-width: $md2) {
			margin-bottom: 10.1rem;

		}
	}

	// .safety__info
	&__info {
		margin-bottom: 11.9rem;

		@media (min-width: $md2) {
			margin-bottom: 13.7rem;

		}
	}

	// .safety__img-ibg
	&__img-ibg {
		@media (max-width: $md2) {
			order: 2;
		}

		img {
			@media (max-width: $md2) {
				position: static;
				left: auto;
				top: auto;
			}
		}
	}

	// .safety__info-items
	&__info-items {
		@media (min-width: $md4) {
			@media (max-width: $md2) {
				padding: 0 $containerPaddingMob;
			}

			@media (max-width: $md2) {
				margin-bottom: 11.8rem;
			}
		}

		@media (min-width: $md2) {
			display: grid;
			grid-template-columns: 100%;
			gap: 5rem;
			align-items: center;
			padding-left: 8.2rem;
			padding-top: 1rem;
			padding-bottom: 1rem;

			@media (max-width: $md1) {
				padding-right: $containerPaddingTablet;
			}
		}

		@media (min-width: $md1) {
			padding-right: $containerPadding;
		}

		@media (max-width: $md4) {
			padding: 0 $containerPaddingMobSmall;
		}
	}

	// .safety__info-item
	&__info-item {
		display: flex;
		font-size: 2.4rem;
		line-height: math.div(38, 24);

		@media (max-width: $md2) {
			margin-bottom: 3.9rem;
		}

		&::before {
			content: '';
			display: block;
			flex: 0 0 4.4rem;
			width: 4.4rem;
			height: 4.4rem;
			margin-right: 4.2rem;
			background: url('../img/icons/approve.png') center no-repeat;
			background-size: contain;
			position: relative;
			top: 0.9rem;
		}
	}

	// .safety__equipment
	&__equipment {}
}

.safety__title,
.safety__equipment {
	padding: 0 $containerPaddingMobSmall;

	@media (min-width: $md4) {
		@media (max-width: $md2) {
			padding: 0 $containerPaddingMob;
		}
	}

	@media (min-width: $md2) {
		@media (max-width: $md1) {
			padding: 0 $containerPaddingTablet;
		}
	}

	@media (min-width: $md1) {
		padding: 0 $containerPadding;
	}
}

.equipment {

	// .equipment__title
	&__title {
		margin-bottom: 8.1rem;
		font-size: 4.2rem;
		line-height: math.div(65, 46);
		font-weight: 700;

		@media (min-width: $md2) {
			font-size: 4.6rem;
		}
	}

	// .equipment__grid
	&__grid {
		display: grid;
		gap: 4.8rem;
		margin-bottom: 7.8rem;

		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 5rem;
			row-gap: 7.8rem;
		}
	}

	// .equipment__item
	&__item {
		display: grid;
		grid-template-columns: 6.2rem auto;
		gap: 3.4rem;
	}

	// .equipment__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		img {
			max-width: 100%;
		}
	}

	// .equipment__type
	&__type {
		margin-bottom: 1.2rem;
		font-size: 2.5rem;
		line-height: math.div(32, 25);
		font-weight: 700;
	}

	// .equipment__description
	&__description {
		font-size: 1.9rem;
		line-height: math.div(27, 19);
		color: rgba($color: $mainColor, $alpha: .6);
	}

	// .equipment__btn
	&__btn {
		display: block;
		width: 100%;
		margin-top: 9.9rem;
	}
}

.gallery-cases__slide-ibg {
	width: 5rem;
	height: 5rem;
}