.refueling {
	background-color: $grayBackground;

	@media (min-width: $md2) {
		margin-bottom: 15rem;
	}

	@media (max-width: $md2) {
		margin-bottom: 19rem;
		padding-top: 14rem;
	}

	@media (max-width: $md4) {
		margin-bottom: 16rem;
	}

	// .refueling__conatiner
	&__container {
		&--map {
			display: flex;
			justify-content: space-between;
			background-repeat: no-repeat;
			background-size: cover;

			@media (min-width: $md2) {
				min-height: 75.8rem;
				background-position: center;
				background-image: url('../img/refueling/map.png');

				.refueling & {
					padding-top: 7.1rem;
				}
			}

			@media (max-width: $md2) {
				min-height: 87.1rem;
				margin-top: 6.8rem;
				background-position: 0 5.5rem;
				background-image: url('../img/refueling/map_mob.png');
			}
		}

	}

	// .refueling__title
	&__title {
		margin-bottom: 3.5rem;

		@media (max-width: $md2) {
			max-width: 45rem;

			br {
				display: none;
			}
		}
	}

	// .refueling__subtitle
	&__subtitle {
		font-size: 3.2rem;
	}


	&__text {
		height: 100%;
		line-height: math.div(36, 24);
		position: relative;

		@media (min-width: $md2) {
			font-size: 2.4rem;
		}

		@media (max-width: $md2) {
			@media (min-width: $md4) {
				margin-top: 3rem;
				font-size: 1.4rem;
			}
		}

		@media (max-width: $md4) {
			margin-top: 1.4rem;
			font-size: 1.7rem;
		}

		&::before {
			content: '';
			display: block;
			background: url('../img/icons/arrow_map.png') 0 0 no-repeat;
			background-size: contain;
			position: absolute;

			z-index: 1;

			@media (min-width: $md2) {
				width: 12.9rem;
				height: 15.8rem;
				bottom: -3rem;
				left: -7.4rem;
			}

			@media (max-width: $md2) {
				width: 7.9rem;
				height: 9.7rem;
				bottom: -.6rem;
				left: -7.4rem;
			}
		}
	}
}