/* Stages */
.stages {
	margin-bottom: 16rem;

	@media (min-width: $md4) and (max-width: $md2) {
		margin-bottom: 20.5rem;
	}

	@media (min-width: $md2) {
		margin-bottom: 22.4rem;
	}

	// .stages__container
	&__container {
		@media (min-width: $md2) {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}

		@media (max-width: $md2) {
			@media (min-width: $md4) {
				padding-top: 17.7rem;
				padding-bottom: 19.3rem;
			}

			background-color: $redSecondary;
		}

		@media (max-width: $md4) {
			padding-top: 13.7rem;
			padding-bottom: 15.3rem;
		}
	}

	// .stages__left
	&__left {

		@media (min-width: $md2) {
			padding-top: 12.8rem;
			padding-bottom: 11.6rem;
			margin-top: 7.9rem;
			background-color: $grayBackground;

			@media (max-width: $md1) {
				padding-left: $containerPaddingTablet;
			}
		}

		@media (min-width: $md1) {
			padding-left: $containerPadding;
		}
	}

	// .stages__title
	&__title {
		margin-bottom: 6.3rem;

		@media (max-width: $md2) {
			color: #fff;
		}
	}


	// .stages__navitem
	&__navitem {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 13.6rem;
		padding: 5.7rem 13rem 5.2rem 4rem;
		text-align: left;
		font-size: 2.4rem;
		line-height: math.div(31, 24);
		font-weight: 700;
		background-color: $white;
		color: $darkBlue;
		position: relative;
		transition: background-color 0.8s ease;

		@media (max-width: $md2) {
			@media (min-width: $md5) {
				padding: 5.7rem 20rem 5.2rem 8rem;
			}
		}

		@media (min-width: $md2) {
			padding: 3.9rem 20rem 3.9rem 8rem;
			background-color: transparent;
			border-bottom: 1px solid #d4d4d4;
		}

		&::after {
			content: '';
			display: block;
			width: 1.7rem;
			height: 2.9rem;
			position: absolute;
			top: 50%;
			right: 5rem;

			@media (max-width: $md2) {
				@media (min-width: $md5) {
					right: 8rem;
				}
			}

			@media (max-width: $md2) {
				transform: translate(0, -50%) rotate(90deg);
				background: url('../img/icons/down-arrow.png') center no-repeat;
				background-size: contain;
				transition: transform 0.3s ease .3s;
			}

			@media (min-width: $md2) {
				right: 10.2rem;
				background: url('../img/icons/down_arrow_gray.png') center no-repeat;
				background-size: contain;
				opacity: 0;
				transform: translate(0, -50%);
				transition: opacity 0.5s ease;
			}
		}

		&._tab-active {
			@media (max-width: $md2) {
				&::after {
					transform: translate(0, -50%) rotate(270deg);
				}
			}

			@media (min-width: $md2) {
				background-color: $white;

				&::after {
					opacity: 1;
				}
			}
		}
	}

	// .stages__items
	&__tab-items {
		@media (min-width: $md2) {
			display: flex;
			align-items: flex-end;
			margin-bottom: 8.5rem;
			position: relative;
		}
	}

	// .stages__tab-block
	&__tab-block {
		@media (max-width: $md5) {
			padding: 0 4rem 8.2rem;
		}

		@media (max-width: $md2) {
			@media (min-width: $md5) {
				padding: 0 8rem 11.2rem;
			}

			margin-bottom: 2.2rem;
			background-color: $white;
		}

		&[hidden]>img,
		&[hidden]>ul>li {
			// opacity: 0;
			animation: fadeOut ease .8s;
		}

		>img,
		ul>li {
			// opacity: 1;
			// transition: opacity 0.3s ease;
			animation: fadeIn ease .8s;
		}

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (min-width: $md2) {
				min-height: 45rem;
				padding: 5rem 10rem 5rem 8.7rem;
				margin-right: $containerPadding;
				position: relative;
				z-index: 1;
				background-color: $redSecondary;
			}

			@media (min-width: $md2) {
				@media (max-width: $md1) {
					margin-right: $containerPaddingTablet;
				}
			}

			@media (min-width: $md1) {
				margin-right: $containerPadding;
			}

			li {
				display: flex;
				flex: 0;
				font-size: 2.4rem;
				line-height: math.div(31, 24);

				@media (min-width: $md2) {
					color: $white;
				}

				&:not(:last-child) {
					margin-bottom: 2.8rem;
				}

				&::before {
					content: '';
					display: block;
					flex: 0 0 2.2rem;
					width: 2.2rem;
					height: 1.6rem;
					margin-right: 2.6rem;
					position: relative;
					top: 0.7rem;
					background: url('../img/icons/check.png') center no-repeat;
					background-size: contain;

					@media (min-width: $md2) {
						margin-right: 3rem;
						background: url('../img/icons/check_white.png') center no-repeat;

					}
				}
			}
		}
	}

	// .stages__bgr-img2
	&__bgr-img {
		width: 100%;
		max-width: 100%;

		@media (min-width: $md2) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}

		@media (max-width: $md2) {
			margin-bottom: 6.8rem;
		}
	}
}

/* Stages */