.footer {

	@media (min-width: $md2) {
		padding: 8rem 0 11.4rem;
	}

	@media (max-width: $md2) {
		padding: 10.1rem 0 7.4rem;
	}

	// .footer__container
	&__container {
		display: grid;
		justify-content: space-between;
		align-items: center;

		@media (min-width: $md2) {
			grid-template-columns: repeat(3, auto);
			gap: 3rem;
		}

		@media (max-width: $md2) {
			gap: 3rem;

			@media (min-width: $md5) {
				grid-template-areas: 'logo link1'
					'logo link2';
			}
		}

		@media (max-width: $md5) {
			grid-template-areas: 'logo''link1''link2'
		}
	}

	// .footer__logo
	&__logo {
		@media (max-width: $md2) {
			grid-area: logo;

			.logo__name {
				font-size: 3rem;
			}
		}
	}

	&__item {
		font-size: 1.8rem;

		&:nth-child(0) {
			@media (max-width: $md2) {
				grid-area: link1;
			}
		}

		&:nth-child(1) {
			@media (max-width: $md2) {
				grid-area: link2;
			}
		}
	}

	a {
		text-underline-offset: 0.5rem;
		text-decoration: underline dotted;

		&:active {
			text-decoration: none;
		}

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}