.wrapper--policy .header .callback,
.wrapper--policy .header .social__text {
	color: $mainColor;
}

.wrapper--policy .header {
	position: static;
	top: auto;
	left: auto;

	@media (min-width: $md2) {
		margin-bottom: 5rem;
	}

	@media (max-width: $md2) {
		margin-bottom: 2rem;
	}
}

.wrapper--policy {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 3.5rem;
		margin-top: 2.114rem;
		margin-bottom: 2.114rem;
	}

	h2 {
		font-size: 3rem;
		margin-top: 1.992rem;
		margin-bottom: 1.992rem;
	}

	h3 {
		font-size: 2.4rem;
		margin-top: 2.072rem;
		margin-bottom: 2.072rem;
	}

	h4,
	p {
		font-size: 2rem;
		margin-top: 1.772rem;
		margin-bottom: 1.772rem;
	}

	h5 {
		font-size: 1.5rem;
		margin-top: 1.672rem;
		margin-bottom: 1.672rem;
	}

	h6 {
		font-size: 1.4rem;
		margin-top: 1.572rem;
		margin-bottom: 1.572rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
	}

	p {
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
	}

	ul,
	ol {
		padding-left: 2.8rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	mark {
		background-color: $grayBackground;
	}
}