@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@font-face {
	font-family: "Mont";
	font-display: swap;
	src: url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	font-display: swap;
	src: url("../fonts/Mont-Regular.woff") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	font-display: swap;
	src: url("../fonts/Mont-Light.woff") format("woff2"), url("../fonts/Mont-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Mont", sans-serif;
$fontSize: 2.1rem;

// Основные цвета
$mainColor: #232323; // Цвет шрифта по умолчанию
$red: #c32627;
$redHover: #a91b1b;
$redSecondary: #cb2728;
$gray: #989898;
$grayBackground: #f3f3f3;
$white: #fff;
$darkBlue: #022742;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 130.4rem;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 31.1rem;
$containerPaddingTablet: 10rem;
$containerPaddingMob: 30px;
$containerPaddingMobSmall: 15px;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$md1: 1279.98px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 575.98px;
$md5: 479.98px;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

:root {
	font-size: 10px;

	@media (min-width:1920.98px) {
		@include adaptiv-value("font-size", 9.55, 0, 3);
	}

	@media (max-width: 1919.98px) {
		@media (min-width: $md1) {
			@include adaptiv-value-to("font-size", 10, 6.666, 1279.98);
		}
	}

	@media (max-width: $md1) {
		@media (min-width: $md3) {
			@include adaptiv-value-to("font-size", 10, 6.666, 991.98);
		}
	}

	@media (max-width: $md3) {
		@include adaptiv-value-to("font-size", 23, 6, 319.98);
	}

	@media (max-width: 319.98px) {
		font-size: 5px;
	}
}

body {

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	line-height: 1.2;
	font-weight: 400;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.page {
	&__top {
		@media (min-width: $md2) {
			background: url('../img/intro/bgr.jpg') left top no-repeat;
			background-size: 50% 100%;
		}
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================


// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	padding: 0 $containerPaddingMobSmall;

	@media (min-width: $md4) {
		@media (max-width: $md2) {
			padding: 0 $containerPaddingMob;
		}
	}

	@media (min-width: $md2) {
		@media (max-width: $md1) {
			padding: 0 $containerPaddingTablet;
		}
	}

	@media (min-width: $md1) {
		padding: 0 $containerPadding;
	}
}


// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "policy";